
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	  margin: 0;
  padding: 0;
  box-sizing: border-box;	
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  cursor: auto;
}

.swiper-button-next,
.swiper-button-prev {
	color: #b7aa98 !important;
	width: 40px;
	height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 24px;
	font-weight: bold;
}